body {
    margin: 0;
    font-family: Roboto,sans-serif;

    /*font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;*/

    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
}

h1 {
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
    margin: 0;
}

h4 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}

h5 {
    text-align: center;
    margin: 0;
    font-size: 2.2rem;
    font-weight: 300;

    color: #f1e1ff;
}

/* -------------------- Media stuff ------------------ */

@media (min-width: 701px) {
    html {
        font-size: 10px;
    }

    .options {
        column-count: 3;
        /* For Safari, TODO: use autoprefixer for this */
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }

    .feature .container {
        display: flex;
        align-items: center;

        /* For Safari, TODO: use autoprefixer for this */
        display: -webkit-flex;
        -webkit-align-items: center;
    }

    .feature .container img {
        width: 500px;
        height: auto;

        flex-shrink: 0;
        /* For Safari, TODO: use autoprefixer for this */
        -webkit-flex-shrink: 0;
    }

    .feature.screenshot-first .container .feature-content {
        order: 2;
        /* For Safari, TODO: use autoprefixer for this */
        -webkit-order: 2;
    }

    /* ------ Timeline positioning ------ */

    /* Timeline points */
    .hiw-step::before {
        width: 1.2rem;
        height: 1.2rem;

        /* TODO(Matija): Is there a better way to center element horizontally?
         * This way it's dependent on the element's width.
         */
        left: 50%;
        margin-left: -0.6rem;

        /*
         * (img height) + (half circle height) + (half margin) = 25 + 0.6 + 2.5
         */
        top: 28.1rem;
    }

    #how-it-works-steps {
        background-image: url(assets/timeline-line.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 28.8rem;
    }

}

@media (max-width: 700px) {
    html {
        font-size: 8px;
    }

    #how-it-works-steps {
        flex-direction: column;
        /* For Safari, TODO: use autoprefixer for this */
        -webkit-flex-direction: column;
    }

    /* HACKY PART: Make "How it works" section bigger. */
    .hiw-step h4 {
        font-size: 2.5rem!important;
    }
    .hiw-step .description {
        font-size: 2rem!important;
    }

    .hiw-step img {
        max-width: 25rem!important;
    }

    .hiw-step {
        margin-bottom: 5rem!important;
    }
    /* ---------------------------------------------- */

    #features-heading {
        margin-bottom: 6rem!important;
    }

    .feature {
        /* NOTE(matija): !important to override 6rem. Not sure if the best way, but this is how Kite did it. */
        padding-bottom: 2rem!important;
        padding-top: 2rem!important;
    }

    .feature .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature .container img {
        width: 90%;
    }

    /* ------ Timeline positioning ------ */

    /* Timeline points */
    .hiw-step::before {
        width: 2rem;
        height: 2rem;

        /* TODO(Matija): Is there a better way to center element horizontally?
         * This way it's dependent on the element's width.
         */
        left: 5rem;
        margin-left: -1.2rem;

        top: 3rem;
    }

    /* Timeline line */
    #how-it-works-steps {
        background-image: url(assets/timeline-line-vertical.svg);
        background-size: contain;
        background-repeat: no-repeat;
        /* Start with the same y as the first point. */
        background-position: 5rem 3rem;
    }

    /* Align content to the timeline. */
    .hiw-step {
        text-align: left!important;
        padding-left: 9rem!important;

        align-items: flex-start!important;
    }

    /* Inverse order of image & description of the hiw-step. */
    .hiw-step img {
        order: 1;
        /* For Safari, TODO: use autoprefixer for this */
        -webkit-order: 1;

        margin-top: 1.5rem;
    }

    /* ---- */

    /* Timeline point is on a different position, so we can reduce
     * the spacing. */
    .hiw-step .hiw-step-title {
        margin: 1.5rem 0!important;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 7px;
    }

    /* HACKY PART: Keep certain sections the original size. */
    #hero h1 {
        font-size: 4.6rem!important;
    }
    #hero h2 {
        font-size: 3.0rem!important;
    }
    #hero #get-started-button {
        font-size: 2.3rem!important;
        padding: 3rem 7.5rem!important;
        border-radius: 0.8rem!important;
    }
    #hero #learn-more {
        font-size: 2.3rem!important;
    }

    .section-heading-class {
        font-size: 2.2rem!important;

    }
    .section-heading-title {
        font-size: 3.5rem!important;
    }

    .hiw-step .hiw-step-title {
        font-size: 2.3rem!important;
    }
    .hiw-step h4 {
        font-size: 3rem!important;
    }
    .hiw-step .description {
        font-size: 2rem!important;
    }

    .hiw-step img {
        max-width: 40rem!important;
    }

    .hiw-step {
        margin-bottom: 6rem!important;
    }
    /* ---------------------------------------------- */

    #intro p {
        padding: 0 5rem!important;
    }
}

#hero {
    /*background-color: #0A4871;*/
    padding-bottom: 15rem;

    /*
    background-image: url(assets/lastslide_hero_audience_gdc.jpg);
    opacity: 1;
    */

    /*
    background:
        linear-gradient(rgba(73,56,49,0.7), rgba(73,56,49,0.7)),
        url(assets/lastslide_hero_audience_gdc.jpg);

    background:
        linear-gradient(rgba(73,56,49,0.7), rgba(73,56,49,0.7)),
        url(https://3j6x6z2bx1qq1aawwt3b6y0a-wpengine.netdna-ssl.com/wp-content/uploads/2013/04/header-home.jpg);
    */

    /*
    background-image:
        linear-gradient(135deg, #3A8FDA 0%, #786DD1 100%),
        url(assets/lastslide_hero_audience_gdc.jpg);
    */

    background-image:
        linear-gradient(135deg, rgba(58, 143, 218, 0.85) 0, rgba(120, 109, 209, 0.85) 100%),
        url(assets/ls_hero.jpg);

    background-size: cover;
    background-position: center center;
}

#hero h1 {
    font-size: 4.5rem;
    font-weight: 400;
    font-style: italic;
}

#hero h2 {
    font-weight: 300;
    font-size: 3rem;

    max-width: 900px;
    
    margin: 0 auto;
    margin-top: 1rem;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

#hero .container {
    padding: 1rem 0 0 0;
}

/* ------------------------ Header ------------------------ */

.logo-header {
    padding: 2rem;
    margin-bottom: 2rem;
}

.logo-header .container {
    /* NOTE(matija): I also need -webkit prefixes, use autoprefixer? */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* For Safari, TODO: use autoprefixer for this */
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}

.logo-header .container nav {
    font-size: 1.3rem;
}

.logo-header .container nav a {
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 3rem;
    /*opacity: .7;*/
}

.logo {
    width: 120px;
    height: 30px;
    background-image: url(assets/lastslide_logo_4.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* ------------------------- Main content (value prop + button ) -------------------------- */

.main-content {
    margin: 10rem 0;
}


/* ------------------------- "Get Started" button -------------------------- */

#hero #get-started-holder {
    display: flex;

    flex-flow: column;
    align-items: center;

    justify-content: flex-start;

    /* For Safari, TODO: use autoprefixer for this */
    display: -webkit-flex;
    -webkit-flex-flow: column;
    -webkit-align-items: center;
    -webkitjustify-content: flex-start;

    margin-top: 10rem;
}

#hero #get-started-button {
    font-size: 1.5rem;
    font-weight: 400;
    /* ConvertKit
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    */

    text-decoration: none;

    background-color: #FFF;
    color: #1677BE;

    padding: 2rem 4rem;
    border-radius: .5rem;

    transition: ease all .3s;

    /* ConvertKit style */
    text-transform: uppercase;
    letter-spacing: .4px;

    /*
    padding: 16px 50px;
    line-height: 1.9;
    font-size: 15px;
    */
}

#hero #get-started-button:hover {
    background-color: #1677BE;
    color: #FFF;
}

#hero #learn-more {
    margin-top: 3rem;

    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;

    color: #FFF;
    opacity: 0.8;
}

/* ------------------------- Intro section -------------------------- */

#intro .intro-title {
    /* color: #545454; */
    color: #4d4d4d;
    padding-top: 8rem;
    padding-bottom: 2rem;

    font-weight: 600;
    font-size: 3.5rem;
}

#intro .intro-subtitle {
    color: #545454;

    margin-top: 3rem;
    margin-bottom: 1.5rem;

    font-weight: 500;
    font-size: 2.7rem;
}

#intro .intro-ls {
    color: #3A8FDA;
    font-weight: 400;
}

#intro p {
    /*color: #545454;*/

    color: #0E222F;
    text-align: center;

    font-size: 2.1rem; 
    font-weight: 300;
    line-height: 1.52;

    margin-bottom: 0;
    margin-top: 2.5rem;

    padding: 0 18rem;

    /*
    max-width: 70%;
    margin: 1rem auto;
    */
}

#intro img {
    width: 50rem;

    /* Center horizontally. */
    display: block;
    margin: 0 auto;

    margin-top: 2rem;
}

#intro p strong {
    font-weight: 500;
    color: #786DD1;
}


#intro .intro-ls {
    color: #3A8FDA;
    font-weight: 500;
}

/* ------------------------- "Pick username" form -------------------------- */

#signup-form {
    margin: 4rem auto;
    max-width: 74rem;
    padding: 1rem;
    text-align: center;
}

#signup-form.step-2, #signup-form.step-3, 
#signup-form.step-4, #signup-form.step-5 {
    background-color: rgba(255,255,255,.08);
}

#signup-form h4 {
    color: #eba7ff;
}
#signup-form h5 {
    margin-top: 1rem;
}

/* ------ Steps ------ */

#signup-form .signup-form-input.error {
    border: 1px solid red!important;
}

#signup-form .signup-form-input.warning {
    border: 1px solid #FFD600!important;
}

#signup-form .error-msg {
    margin-top: 1rem;

    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .4px;
    color: #FFF;
    /*
    color: #FFE400;
    */
}

#signup-form .step-indicator {
    font-size: 1.4rem;
    margin: 1.1rem 0;

    font-weight: 400;
}

/* ------ Step 1 ------ */

#signup-form .claim-username-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    /* For Safari, TODO: use autoprefixer for this */
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    max-width: 50rem;
    margin: 0 auto;

    padding: 1rem;
}

/* ------ Step 2 ------ */

#signup-form .ls-username {
    font-weight: 400;
}

#signup-form .survey {
    text-align: left;
    padding: 1rem;
}

#signup-form .survey p {
    text-align: left;
}

#signup-form .survey .option:first-child {
    margin-top: 0;
}

#signup-form .survey .option {
    font-size: 18px;
    padding: 8px;
    margin: 5px;
    cursor: pointer;

    background-color: rgba(255,255,255,.2);
    transition: 125ms background-color;

    /* Not sure if I need this, seems to work okay without it.
     *
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    */
}

#signup-form .survey .option:hover {
    background-color: rgba(255,255,255,.3)
}

/* TODO(matija): Currently, this is similar to step-1, maybe put together? */
#signup-form .submit-email-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    /* For Safari, TODO: use autoprefixer for this */
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    max-width: 50rem;
    margin: 0 auto;
    margin-top: 2rem;

    padding: 1rem;
}

/* If currently step-x is shown, hide all other steps. */
#signup-form.step-1 form:not(.form-step-1){
    display: none;
}
#signup-form.step-2 form:not(.form-step-2){
    display: none;
}
#signup-form.step-3 form:not(.form-step-3){
    display: none;
}
#signup-form.step-4 form:not(.form-step-4){
    display: none;
}
#signup-form.step-5 form:not(.form-step-5){
    display: none;
}

/* General styling for buttons in signup form. */
.signup-form-button {
    -webkit-appearance: none; /* To look good on iPhone. */

    font-size: 1.5rem;
    font-weight: 400;

    padding: 1.55rem 2rem;

    text-transform: uppercase;
    letter-spacing: .4px;

    background-color: #FFF;
    color: #786DD1;
    opacity: .9;

    cursor: pointer;

    border: 0;
    border-radius: 5px;
}

.signup-form-button:hover {
    opacity: 1;
}

/* General styling for input fields in signup form. */
.signup-form-input {
    padding: 1.2rem;

    outline: 0;
    border: 1px solid transparent;
    border-radius: 5px;

    color: #FFF;
    background-color: #255F7D;

    font-size: 2.2rem;
    font-weight: normal; /* 300 for thinner. */
    font-family: Roboto,sans-serif;

}

.signup-form-input:focus {
    border: 1px solid #4BA0CE;
}

#signup-form #claim-username-input {
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    /* NOTE(matija): to avoid overlays in Safari. */
    width: 60%;
}

#signup-form #signup-email-input {
    margin-right: 1.5rem;
    /* NOTE(matija): input too big on Android otherwise. */
    width: 70%;
}

#getslides-url {
    font-size: 2.2rem;
    font-weight: normal; /* 300 for thinner. */
}

/* ------------------------ How it works ------------------------- */

#how-it-works {
    margin-top: 8rem;
    position: relative;
}

.section-heading {
    text-align: center;
}

.section-heading .section-heading-class {
    color: rgba(0,0,0,.35);
    font-size: 1.6rem;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 0.5rem;
}

.section-heading .section-heading-title {
    color: #545454;
    font-weight: 300;
    font-size: 3.3rem;
}

#how-it-works-steps {
    color: #000; /* So I can see the text. */
    font-size: 1.8rem;

    display: flex;
    /* For Safari, TODO: use autoprefixer for this */
    display: -webkit-flex;

    margin-top: 6rem;
}

/* Timeline arrow 
 * TODO(matija): not really working right now.
 */
/*
#how-it-works-steps::after {
    content: '';


    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;

    position: absolute;
    top: 40.5rem;
    right: 0;

    background-image: url(assets/timeline-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
*/

#how-it-works-steps .hiw-step {
    /*border: 1px solid #FF0000;*/

    /* So I can position timeline points absolutely. */
    position: relative;

    text-align: center;
    padding: 1.5rem 4rem;

    flex-grow: 1;
    /* For Safari, TODO: use autoprefixer for this */
    -webkit-flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiw-step .hiw-step-title {
    /*
    color: rgba(0,0,0,.35);
    */
    color: #1677BE;
    opacity: 0.8;

    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .4px;
    text-transform: uppercase;

    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

/* Timeline points */
.hiw-step::before {
    content: '';

    display: inline-block;
    border-radius: 50%;

    position: absolute;

    background-color: #FFF;
    border: 2px solid #1677BE;
}

/* ------------- Styling of a single "How it works" step ------------- */

.hiw-step img {
    max-width: 25rem;
}

.hiw-step h4 {
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem 0;
}

.hiw-step .description {
    font-size: 1.6rem;
    font-weight: 300;
}

/* ------------------------ Claim username -------------------------- */

#claim-username {
    margin-top: 6rem;
    margin-bottom: 8rem;
    padding: 8rem 0;

    /*background-color: #786DD1;*/
    /*background-color: #6960b7;*/
    background-color: #5c54a0;
}

#claim-username h1 {
    font-size: 3.8rem;
    font-weight: 400;
}

#claim-username h2 {
    margin-top: 4rem;

    font-size: 2.5rem;
    font-weight: 400;
}

#claim-username p {
    text-align: center;

    font-size: 2rem;
    font-weight: 300;
}


/* ---------------------------- Feature ------------------------------ */

.feature {
    padding: 6rem 0;
}

.feature h4 {
    color: #0E222F;
}

.feature p {
    color: #0E222F;
    font-size: 2rem;
    font-weight: 300;
}

.feature .container .feature-content {
    padding: 1rem 4rem;

}

/* ---------------------------- Footer ------------------------------ */

.footer .footer-menu {
    background-color: #225079;
    text-align: right;
    padding: 1rem;
    height: 5rem;
}

.footer .footer-menu nav {
    line-height: 5rem;
    font-size: 1.5rem;
}

.footer .footer-menu nav a {
    text-decoration: none;
    text-transform: uppercase;

    color: #FFF;
    font-weight: 700;
}

.footer .footer-menu nav a:not(:last-child) {
    margin-right: 2.5rem;
}

.footer .footer-menu nav a:not(.signup) {
    opacity: .5;
}

/* ----- With love from Croatia ----- */

.footer .with-love-from-cro {
    color: #083148;
    font-size: 1.5rem;

    padding: 1rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;

}

/* ----- Mini logo ----- */

.footer .color-separation {
    padding: 1rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}

.footer .mini-logo {
    width: 37px;
    height: 34px;

    background-image: url(assets/mini-logo.png);
    background-size: contain;
    background-repeat: no-repeat;

    display: inline-block;
    vertical-align: middle;
}
